.menuComponent {
    width: fit-content;
    height: 100vh;
    padding: 0 2.5em;
    background-color: #1e1e1e;
}

.menuComponent ul,
.menuComponent li {
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.menuComponent li {
    padding: .25em 0;
}

.menuComponent a {
    color: white;
    text-decoration: none;
}