.formField {
    padding: .5em 0;
    display: flex;
    flex-direction: column;
}

.formField label {
    font-weight: 500;
}

.formActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5em;
    margin-top: 1em;
}